body {
    background-color: lightpink;
}

.header {
    background-color: hotpink;
    padding: 25px;
    text-align: center;
}

#nameForm, #commentForm {
    text-align: center;
}

#left {
    margin-left: 300px;
}

.container {
    float: left;
    margin-left: 25px;
    width: 200px;
    height: 150px;
    text-align: center;
    background-color: white;
    border-style: groove;
}

#displayComments {
    margin-top: 160px;
    margin-left: 350px;
    padding: 10px;
    width: 600px;
    height: 100px;
    background-color: white;
}

#playerComment {
    width: 600px;
    border-style: groove;
}